PORT=9999  # Use a port of your choice for the server
DATABASE_URL="postgres://[DB-USER].[PROJECT-REF]:[PRISMA-PASSWORD]@[DB-REGION].pooler.supabase.com:9999/postgres" # Used for Prisma Migrations and within your application
DIRECT_URL="postgres://[DB-USER].[PROJECT-REF]:[PRISMA-PASSWORD]@[DB-REGION].pooler.supabase.com:7777/postgres" # Used for application, Read this https://supabase.com/docs/guides/database/prisma