[build]
command = "npm run build"
publish = "public"

[functions]
directory = "netlify/functions"
node_bundler = "esbuild"
included_files = ["src/**"]

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/server/:splat"
status = 200
